<%= form_with model: @art, local: true do |form| %>
 
  <% if @art.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@art.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @art.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :lastname %><br>
    <%= form.text_field :lastname %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>