<h1>Listing Table</h1>
<%= link_to 'New', new_art_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @arts.each do |art| %>
    <tr>
      <td><%= art.name %></td>
      <td><%= art.lastname %></td>
      <td><%= link_to 'Show', art_path(art) %></td>
      <td><%= link_to 'Edit', edit_art_path(art) %></td>
      <td><%= link_to 'Delete', art_path(art), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>