<p>
  <strong>Name:</strong>
  <%= @art.name %>
</p>
 
<p>
  <strong>Lastname:</strong>
  <%= @art.lastname %>
</p>

<h2>Commenter</h2>
<%= render @art.coms %>

<h2>Add a comment</h2>
<%= render 'coms/form' %>
 
<%= link_to 'Back', arts_path %>
