
<%= form_with(model: [ @art, @art.coms.build ], local: true) do |form| %>
<p>
    <%= form.label :com %><br>
    <%= form.text_field :com %>
  </p>
  <p>
    <%= form.label :message %><br>
    <%= form.text_field :message %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>